.menu__right
  %h1 メニュー
  %h6 閲覧
  %ul
    = link_to search_userid_book_path(@user.id) do
      %li
        投稿した本を閲覧
    = link_to search_bookmark_book_path(@user.id) do
      %li
        お気に入りの本を閲覧
    = link_to sentences_user_path(@user.id) do
      %li
        盗んだセンテンスを閲覧
  - if @user == current_user
    %h6 投稿・編集
    %ul
      = link_to new_book_path do
        %li
          本を投稿
      = link_to edit_book_path(@user.rental) do
        %li
          貸出中の本を編集
  %h6 その他
  %ul
    %li
      アプリの説明(未実装)
    = link_to books_path do
      %li
        一覧画面へ
    = link_to root_path do
      %li
        トップページに戻る