.center
  .center__over-color
    .menu.menu--paper
      .MenuContentsPaper
        .account-edit
          %h1 アカウントの編集
          .account-edit__image イメージ
          = form_for((current_user), html: {class: "FormArea"}) do |f|
            .account-edit__icon{style: "background-image: url(#{asset_path current_user.image})"}
              = f.label :image, class: 'upload-image' do
                = icon('fa', 'camera')
                = f.file_field :image, class: 'image-icon'
            .FormField
              .FormField__label--normal
                = f.label :name
              .FormField__input--normal
                = f.text_field :name, autofocus: true
            .FormField
              .FormField__label--normal
                = f.label :email
              .FormField__input--normal
                = f.email_field :email
            = f.submit "更新する", class: 'Button UpdateButton'
          .account-edit__link
            = link_to "マイページに戻る", user_path(current_user), class: 'Button'
