.center
  .center__over-color
    .menu
      .menu__left
        %h1
          = "#{@user.name}さんのページ"
        .menu__left__top
          .menu__left__top__icon{style: "background-image: url(#{asset_path @user.image})"}
          - if @user == current_user
            .menu__left__top__user-menu
              %ul
                = link_to edit_user_path(current_user) do
                  %li
                    アカウントを編集
                %li
                  = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout'
        .menu__left__bottom
          .menu__left__bottom__user-name
            = @user.name
          .menu__left__bottom__status
            %ul
              %li
                = "・投稿した本：#{@count_book}冊"
              %li
                = "・投稿した話：#{@count_text}話"
              %li
                = "・盗まれたセンテンス：#{@count_stolen_sentence}個"
              %li
                = "・盗んだセンテンス：#{@count_steal_sentence}個"
      .menu__right
        %h1 メニュー
        %ul
          = link_to books_path do
            %li
              一覧画面
          = link_to search_userid_book_path(@user.id) do
            %li
              投稿した本を閲覧
          - if @user == current_user
            = link_to new_book_path do
              %li
                本を投稿
            = link_to edit_book_path(@user.rental) do
              %li
                貸出中の本を編集
          %li
            盗んだセンテンス(仮)
          %li
            アプリの説明(仮)
