.book-top
  .book-top__info
    .book-top__info__title
      .book-top__info__title__l Title：
      = book.title
    .book-top__info__author
      = "Author：#{book.user.name}"
  .book-top__cover
    .book-top__cover__white
    .book-top__cover__color{style: "background-color:#{book.color.color}"}
    - if book.color.icon_white?
      = image_tag "#{book.icon.icon}.png", alt: 'アイコン', class: 'book-top__cover__icon', style: 'filter: invert(0.9)'
    - else
      = image_tag "#{book.icon.icon}.png", alt: 'アイコン', class: 'book-top__cover__icon'
    = image_tag 'book.png', alt: '本', class: "book-top__cover__line"