.Book
  = link_to book_path(b.id) do
    .Book__body
      .Book__body__white
      .Book__body__top-color{style: "background-color:#{b.color.color}"}
      - if b.color.icon_white?
        = image_tag "#{b.icon.icon}", alt: 'アイコン', class: 'Book__body__icon', style: 'filter: invert(0.9)'
      - else
        = image_tag "#{b.icon.icon}", alt: 'アイコン', class: 'Book__body__icon'
      = image_tag 'book.png', alt: '本', class: "Book__body__book-line"
    
    .Book__name
      - if b.title.length > 18
        = "#{b.title[0,17]}…"
        .Book__name__hover-title
          = b.title
      - else
        = b.title
  .Book__author
    = "作者：#{b.user.name}"

  .Book__subContents
    .Content
      = render partial: 'books/functions/bookmark', locals: { b: b }
      - if b.completion == true
        .BookState.BookState--completion
          完結
      - else
        - if b.rental == false
          .BookState.BookState--there
            貸出可
        - else
          .BookState.BookState--not-there
            貸出中
  .Book__notice
    = "#{time_ago_in_words(b.updated_at)}前更新"
