.main
  .main__frame
    = render "book"
    = render "book"
    = render "book"
    = render "book"
    = render "book"
    = render "book"
    = render "book"
    = render "book"
    = render "book"
    = render "book"
    = render "book"
    = render "book"
    
