.show-wrapper
  .book-top
    .book-top__info
      .book-top__info__title
        Title：世界は俺を味方した
      .book-top__info__author
        Author：落葉 茂
    .book-top__cover
  .stories
    = render "story"
    = render "story"
    = render "story"
    = render "story"
    = render "story"
    = render "story"
  .rent
    .rent__button
      本を借りる