- texts.each_with_index do |t, index|
  .story-content
    .story-content__info
      .story-content__info__chapter
        = "#{index + 1}章：#{t.chapter}"
      = link_to user_path(t.user.id) do
        .story-content__info__author
          -# .story-content__info__author__icon{style: "background-image: url(#{asset_path t.user.image})"}
          - if t.user.image?
            = image_tag "#{t.user.image}", class: "story-content__info__author__icon"
          - else
            = image_tag "noimage.jpg", class: "story-content__info__author__icon"
          = t.user.name
    - if user_signed_in? && t.user == current_user
      .SunContent
        .story-content__text{class: "text_id#{t.id}", "data-text_id" => t.id}
          = safe_join(t.text.split("\n"),tag(:br))

      .MoonContent
        .MyStoryEditText
          .story-content__text{class: "text_id#{t.id}", "data-text_id" => t.id}
            = safe_join(t.text.split("\n"),tag(:br))
          .ButtonArea
            .StoryEditButton
              編集する

        .MyStoryEditForm
          %textarea{class: 'TextField', required: true}=t.text
          .ButtonArea
            .StopStoryEditButton
              編集をやめる
            .MyStoryUpdateButton{"data-id" => t.id}
              更新
    - else
      .story-content__text{"data-text_id" => t.id}
        = safe_join(t.text.split("\n"),tag(:br))
