- texts.each_with_index do |t, index|
  .story-content
    .story-content__info
      .story-content__info__chapter
        = "#{index + 1}章：#{t.chapter}"
      = link_to user_path(t.user.id) do
        .story-content__info__author
          .story-content__info__author__icon{style: "background-image: url(#{asset_path t.user.image})"}
          = t.user.name
    .story-content__text{"data-text_id" => t.id}
      = safe_join(t.text.split("\n"),tag(:br))
