.rental-cover
  .rental-message
    本は一冊しか貸出しできません。
    貸出中の本を入れ替えますか？
  .RentalChangeBook
    .RentalChangeBook__frame
      = render partial: 'book', locals: { b: @rental_book }
    .RentalChangeBook__overCover--left
    .RentalChangeBook__icon
      = icon('fa', 'arrow-right')
    .RentalChangeBook__frame
      = render partial: 'book', locals: { b: @book }
    .RentalChangeBook__overCover--right
  .rental-button
    = link_to book_path(@book.id), class: "rental-button__no" do
      いいえ
    = link_to rental_book_path(@book.id), class: "rental-button__yes", method: :post do
      はい