= form_with(url: search_books_path, class: "SearchBar", local: true, method: :get) do |f|
  = f.text_field :keyword, placeholder: '本のタイトルを検索', class: 'SearchBar__textField', value: @keyword, maxlength: 48
  = f.hidden_field :sort, value: @sort
  = f.hidden_field :rental_state, value: @rental_state_hidden_params
  -if @book_icon_hidden_params != nil
    - @book_icon_hidden_params.each do |icon_id|
      = hidden_field_tag 'book_icon[]', icon_id
  - if @book_color_hidden_params != nil
    - @book_color_hidden_params.each do |color_id|
      = hidden_field_tag 'book_color[]', color_id
  = f.button type: :submit, class: "SearchBar__submit" do
    = icon('fa', 'search')