%h2 表紙のアイコン
%ul.SortIcons{"data-book_icon" => @book_icon_hidden_params}
  - icons.each_with_index do |icon, index|
    %label{for: "book_icon#{icon.id}"}
      %li.BookIcon
        = image_tag "#{icon.icon}", class: "BookIcon__image SortIconNumber#{icon.id}"
    = f.check_box :book_icon, {multiple: true, include_hidden: false, class: 'SortBookIcon', id: "book_icon#{icon.id}"}, icon.id
  .allCheckContents
    全項目チェック
    .AllChecked.CheckButton
      ON
    .AllDeleteChecked.CheckButton
      OFF
