%h2 表紙の色
%ul.SortColors{"data-book_color" => @book_color_hidden_params}
  - colors.each_with_index do |color, index|
    %label{for: "book_color#{color.id}"}
      %li.BookColor{style: "background-color: #{color.color}", class: "SortColorNumber#{color.id}"}
        = icon('fa', 'check')
    = f.check_box :book_color, {multiple: true, include_hidden: false, class: 'SortBookColor', id: "book_color#{color.id}"}, color.id