!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PrologueGathers
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .white
      %header.header
        .logo
          = image_tag 'title.jpg', alt: '始まりの図書館'
        .user
          .user__name
            羅生門の番人
          .user__hasbook
            持出中
      = yield
