!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title 始まりの図書館
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    = favicon_link_tag('steal_bag.png')
  %body
    = render 'share_contents/header/header'
    .alert
      = flash[:notice]
    .wrapper
      .SmallContent.Search
        = render 'share_contents/search/search_bar'
      = yield
