!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 始まりの図書館
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .white
      %header.header
        = link_to root_path, class: "logo" do
          = image_tag 'title.jpg', alt: '始まりの図書館'
        - if user_signed_in?
          = link_to edit_user_path(current_user) do
            .user
              .user__name
                = "名前：#{current_user.name}"
              .user__box
                = link_to new_book_path, class: "user__box__create" do
                  投稿する
                - if current_user.rental == 0
                  .user__box__hasbook.user__box__hasbook--not-taking-out
                    貸出無し
                - else
                  = link_to edit_book_path(current_user.rental), class: "user__box__hasbook user__box__hasbook--taking-out" do
                    貸出中
        - else
          = link_to new_user_session_path do
            .user
              .user__name
                名前：ゲスト
      = yield
